<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
<div id="app">
    <h2 v-if="value > 5">VUE>5
        <!-- <span v-show="visible" v-html="name"></span> -->
    </h2>
    <h2 v-else="value > 5">VUE<5
        <!-- <span v-show="visible" v-html="name"></span> -->
    </h2>
    <p v-if="value > 5">DATE DATE DATE {{date}}</p>
</div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue ({
        el:"#app",
        data: {
            // name: '<i>이탈릭</i>',
            // visible : true,
            value:0,
            date:'2022.03.24'
        }
    });
</script>
</html>